.menu{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  overflow: auto;

  font-size: 16px;
  line-height: 24px;
  color: $text-color;

  background-color: $base-color;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);

  &__header{
    margin: 24px 16px 38px 16px;

    @media (min-width: 1440px){
      margin: 24px 24px 40px 24px;
    }
  }
  &__help-section{
    @media (min-width: 1440px){
      margin-top: 228px;
    }
  }
  &__logo{
    flex-shrink: 0;
    margin-left: 16px;
    margin-right: 78px;

    @media (min-width: 1440px){
      margin-left: 0;
      margin-right: 118px;
    }
  }
  &__search{
    flex-shrink: 0;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &__footer{
    margin-left: 24px;
    margin-top: auto;
  }
  &__email{
    display: block;
    margin: 16px 0 12px 0;
  }
  &__telephone {
    display: block;
    margin: 0;
    margin-bottom: 40px;
  }
  &__languages-list{
    display: flex;
    margin-bottom: 32px;
  }

  @media (min-width: 1440px){
    box-shadow: none;
    height: auto;
  }
}
