.table-row{
  position: relative;

  .table-cell:first-of-type{
    padding-left: 16px;

    @media (min-width: 1440px){
      padding-left: 24px;
    }
  }
  &:not(:first-of-type)::after{
    content: '';
    position: absolute;
    left: 0;

    width: 688px;
    height: 1px;
    margin-left: 16px;

    background-color: $color-main--darken;

    @media (min-width: 1440px){
      width: 1008px;
    }
  }
}
