$color-main: #F8F8F8;
$color-main-dark: #F5F5F5;
$color-main--darken: #EAEAEA;
$color-secondary: #FF3E79;

$color-decor: #41F6D7;
$color-decor--light: #B8FFEC;
$color-decor--lighten: #D9FFF5;

$text-color: #1B1C21;
$text-color--muted: #7E7E82;

$base-color: #FFFFFF;

$gray--lighten: #DDDDDD;
$gray: #B5B6BC;
